:host {
    main {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .my_container {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            padding: 1em 8em;
            margin: 0 0.5em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1em;
            position: relative;

            .buttons {
                display: flex;
                justify-content: center;
                align-items: center;

                button {
                    background-color: transparent;
                    color: white;
                    border: none;
                    font-size: 15px;
                }
            }

            .value {
                color: white;

                .num {
                    font-size: 80px;
                }
            }

            .controls {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1em;
                
                button {
                    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                    padding: 0.8em 4em;
                    font-weight: 700;
                    border: none;
                    transition: 0.4s ease-in-out all;

                    &:hover {
                        background-color: rgba(87, 85, 85, 0.205) !important;
                        color: white;
                    }
                }
            }

            #music {
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 0;
                bottom: 1.2em;
                left: 1em;

                label {
                    margin-right: 25px;
                }
            }

            #next {
                background-color: transparent;
                box-shadow: none;
                padding: 0.8em 1em;
                color: white;
                box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                border: none;
                display: flex;
                justify-content: center;
                position: absolute;
                bottom: 1em;
                right: 1em;
                transition: 0.4s ease-in-out all;

                &:hover {
                    background-color: rgba(87, 85, 85, 0.205) !important;
                    color: white;
                }
            }
            
        }

        &.default {
            background-color: orange;
            transition: 0.4s ease-in-out all;

            .my_container {
                background-color: rgb(236, 183, 83);
            }

            .controls button {
                background-color: white;
                color: rgb(236, 183, 83);
            }
        }

        &.shortBreak {
            background-color: rgb(157, 236, 183);
            transition: 0.4s ease-in-out all;

            .my_container {
                background-color: rgb(166, 214, 182);
            }

            .controls button {
                background-color: white;
                color: rgb(166, 214, 182);
            }
        }

        &.longBreak {
            background-color: cornflowerblue;
            transition: 0.4s ease-in-out all;

            .my_container {
                background-color: rgb(136, 169, 231);
            }

            .controls button {
                background-color: white;
                color: rgb(136, 169, 231);
            }
        }
    }

    button {
        &.active {
            background-color: rgba(27, 27, 27, 0.205) !important;
        }
    }

    @media(max-width: 730px) {
        main .my_container  {
            padding: 1em;
        }
    }
}