<main id="main" [ngClass]="currentState">

    <div class="container">
        <div class="buttons">
            <button [class.active]="currentState === 'default'" (click)="default()">Pomodoro</button>
            <button [class.active]="currentState === 'shortBreak'" (click)="shortBreak()">Short Break</button>
            <button [class.active]="currentState === 'longBreak'" (click)="longBreak()">Long Break</button>
        </div>

        <div class="value">
            <h1 class="num">{{value}}</h1>
        </div>

        <div class="controls">
            @if (isStart === false) {
                <button (click)="start()">START</button>
            } @else {
                <button (click)="pause()">PAUSE</button>
            }
        </div>


        @if(isStart === true) {
            <button id="next">
                <span class="material-symbols-outlined">
                    arrow_forward
                </span>
            </button>
        }
    </div>

</main>

